.container{
  width: 100%; /* this make container fluid*/
  height: auto;
  background-color: #FFC; /* this make content background-color*/
  margin-right: auto; /* this make content center*/
  margin-left: auto; /* this make content center*/
  text-align: center;
}

button{
  border-radius: 20px;
  border-color:black;
  width:100px;
  height: 20px;
  margin-bottom: 10px;
}